# Sample ssh configs
# 1. featuring ssh connection multiplexer.
#
#    NOTE: run 'ssh -fNT work-box' to establish a daemonized master connection,
#    later connections should be 'ssh work-box'. Directly using 'hostname' will
#    _NOT_ go through master connection!.
#
#    Reverse tunneling with the same master connection:
#    : ssh -O forward -R '2222:localhost:22' work-box
#    So at 'work-box', 'ssh localhost -p 2222' would be 'ssh' back to current
#    machine

Host work-box
        HostName leap421
        ControlPath ~/.ssh/controlmasters/%r@%h:%p
        ControlMaster auto
        ControlPersist yes
